@import url("colors.css");

/********************
anchor-pane sfondo
********************/
.anchorPane-sf  {
    -fx-background-image: url('../Image/SfondoRosso.png');
    -fx-background-size: cover;
}

/********************
text-nome e cognome degli slot
********************/
.text-nc {
    -fx-fill: -fx-color-first;
    -fx-font-family: Comfortaa SemiBold;
    -fx-font-size: 17px;
}

/********************
SLOT OCCUPATI
********************/

/********************
anchor-slot
********************/
.anchorPane-sl  {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 30, 0.5, 3, 3);
    -fx-background-radius: 0;
}

/********************
fontAwesomeIconView-icona utente
********************/
.fontAwesomeIconView-iu {
    -fx-fill: -fx-color-first;
}

/********************
fontAwesomeIconView-apri utente
********************/
.fontAwesomeIconView-ati{
    -fx-fill: -fx-color-first;
}

/********************
fontAwesomeIconView-aggiungi utente
********************/
.fontAwesomeIconView-au{
    -fx-fill: -fx-color-first;
}

/********************
MFXButton-acquisto-vendita-raffronto
********************/
.MFXButton-avr{
    -fx-font-family: comfortaa;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-color-first;
    -fx-border-color: -fx-color-first;
    -fx-border-width: 1;
}

/********************
fontAwesomeIconView-freccia torna indietro
********************/
.fontAwesomeIconView-ati{
    -fx-fill: -fx-color-first;
}

/********************
SLOT LIBERI
********************/

/********************
text-nome e cognome degli slot
********************/
.text-nc-sl {
    -fx-fill: -fx-color-third;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

/********************
anchor-slot
********************/
.anchorPane-sl-sl  {
    -fx-border-color: -fx-color-fourth;
    -fx-border-width: 3;
}

/********************
fontAwesomeIconView-icona utente
********************/
.fontAwesomeIconView-iu-sl {
    -fx-fill: -fx-color-third;
}

/********************
fontAwesomeIconView-apri utente
********************/
.fontAwesomeIconView-aau-sl{
    -fx-fill: -fx-color-third;
}
