@import url("colors.css");

/* text; nome e cognome */
.text-nc {
    -fx-fill: -fx-color-first;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

/* anchorPane; slot */
.anchorPane-sl  {
    -fx-border-color: -fx-color-second;
    -fx-border-width: 2;
}

/* fontAwesomeIconView; icon utente */
.fontAwesomeIconView-iu {
    -fx-fill: -fx-color-first;
}

/* fontAwesomeIconView; arrow apri utente */
.fontAwesomeIconView-ati{
    -fx-fill: -fx-color-first;
}

/* MFXButton; acquisto-vendita-raffronto */
.MFXButton-avr{
    -fx-font-family: sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-color-first;
    -fx-border-color: -fx-color-first;
    -fx-border-width: 1;
}

/* fontAwesomeIconView; arrow torna indietro */
.fontAwesomeIconView-ati{
    -fx-fill: -fx-color-first;
}

/*---- Slot-liberi ----*/

/* testo; nome e cognome */
.text-nc-sl {
    -fx-fill: -fx-color-third;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

/* anchorPane; slot */
.anchorPane-sl-sl  {
    -fx-border-color: -fx-color-fourth;
    -fx-border-width: 3;
}

/* fontAwesomeIconView; icon utente */
.fontAwesomeIconView-iu-sl {
    -fx-fill: -fx-color-third;
}

/* fontAwesomeIconView; arrow apri utente */
.fontAwesomeIconView-aau-sl{
    -fx-fill: -fx-color-third;
}
