@import url("colors.css");

/********************
text-titolo
********************/
.text-t {
    -fx-fill: -fx-color-first;
    -fx-font-family: Comfortaa;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

/********************
text-overview fatture
********************/
.text-snc {
    -fx-fill: grey;
    -fx-font-family: Comfortaa light;
    -fx-font-size: 13px;
}

/********************
MFXButton-importa
********************/
.MFXButton-im{
    -fx-font-family: comfortaa;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-background-color: -fx-color-second;
    -fx-background-radius: 6;
}

/********************
MFXButton-esporta
********************/
.MFXButton-es{
    -fx-font-family: comfortaa;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-background-color: -fx-color-first;
    -fx-background-radius: 5;
}

/********************
StackPane-filtro
********************/
.stackPane-fi{
    -fx-background-radius: 8;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-padding: 0 0 2 0;
    -fx-border-radius: 8;
}

.fontAwesomeIconView-fi {
    -fx-fill: -fx-color-first;
}

/********************
Table View-f
********************/
.table-view-f {
    -fx-background-color: white;
    -fx-padding: 0 0 2 0;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #cbcbcb;
}

.table-view-f .scroll-bar:vertical .thumb {
    -fx-background-color : #bec1ca;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.table-view-f .scroll-bar:horizontal .thumb {
    -fx-background-color : #bec1ca;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.table-view-f .scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-color-second;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.table-view-f .scroll-bar:horizontal .thumb:hover {
    -fx-background-color : -fx-color-second;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.table-column-f {
    -fx-padding: 10 15 10 15;
    -fx-background-color: white;
    -fx-font-family: Comfortaa Semibold;
    -fx-font-size: 12px;
}

.table-column-f .label {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: Comfortaa Semibold;
    -fx-font-size: 14px;
}

.column-header {
    -fx-pref-height: 40;
}

.table-cell:odd {
    -fx-background-color: white;
    -fx-border-width: 0.15 0 0 0;
    -fx-border-color: gray;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: -1;
}

.table-cell:even {
    -fx-background-color: #F6F4F6;
    -fx-border-width: 0.15 0 0 0;
    -fx-border-color: gray;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: -1;
}

.table-row-cell:filled:selected .table-cell {
    -fx-background-color: -fx-color-second; /* colore di sfondo delle celle della riga evidenziata */
    -fx-text-fill: white; /* colore del testo delle celle della riga evidenziata */
    -fx-font-weight: bold;
}